@model CoffeeHouse.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url(/CoffeeShop/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">ĐĂNG KÍ</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-action="Index">TRANG CHỦ</a></span> <span>ĐĂNG KÍ</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

<h1 class="pt-5 text-center">Đăng kí tài khoản</h1>
<form class="p-5" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <div class="form-group">
        <label asp-for="Email"><i class="zmdi zmdi-email"></i></label>
        <input asp-for="Email" class="form-control" placeholder="Tên đăng nhập" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
        <input asp-for="Password" class="form-control" placeholder="Mật khẩu" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>

    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Xác nhận mật khẩu" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group form-button">
        <button type="submit" class="form-submit btn btn-primary btn-outline-primary py-3 px-5">
            Register
        </button>
        <button class="form-submit btn btn-primary btn-outline-primary py-3 px-5" asp-controller="Home" asp-action="Index">
            Back
        </button>
    </div>
    <a asp-area="" asp-controller="Account" asp-action="Login" method="get" class="signup-image-link" style="text-align: left;">Tôi đã có tài khoản</a>
</form>

