@*@model CoffeeHouse.Data.Dto.OrderDto
    @{
        ViewData["Title"] = "Checkout";
    }
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="p-b-20 text-center">Checkout</h2>
            <form asp-controller="order" asp-action="checkout" method="post">
                <label class="control-label" asp-for="FirstName"></label>
                <div class="form-group bo4 size15 m-b-20 border">
                    <input asp-for="FirstName" class="sizefull s-text7 p-l-15 p-r-15 form-control" placeholder="Type Here" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <label class="control-label" asp-for="LastName"></label>
                <div class="form-group bo4 size15 m-b-20 border">
                    <input asp-for="LastName" class="sizefull s-text7 p-l-15 p-r-15 form-control" placeholder="Type Here" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <label class="control-label" asp-for="PhoneNumber"></label>
                <div class="form-group bo4 size15 m-b-20 border">
                    <input asp-for="PhoneNumber" class="sizefull s-text7 p-l-15 p-r-15 form-control" placeholder="Type Here" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <label class="control-label" asp-for="Email"></label>
                <div class="form-group bo4 size15 m-b-20 border">
                    @if (User.IsInRole("User") == true || User.IsInRole("Seller") == true || User.IsInRole("Admin") == true)
                    {
                        <input asp-for="Email" class="sizefull s-text7 p-l-15 p-r-15 form-control" placeholder="Type Here" value="@User.Identity.Name.ToString()" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    }
                    else
                    {
                        <input asp-for="Email" class="sizefull s-text7 p-l-15 p-r-15 form-control" placeholder="Type Here" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    }
                </div>
                <label class="control-label" asp-for="AddressLine"></label>
                <div class="form-group bo4 size15 m-b-20 border">
                    <input asp-for="AddressLine" class="sizefull s-text7 p-l-15 p-r-15 form-control" placeholder="Type Here" />
                    <span asp-validation-for="AddressLine" class="text-danger"></span>
                </div>
                <label class="control-label" asp-for="City"></label>
                <div class="form-group bo4 size15 m-b-20 border">
                    <input asp-for="City" class="sizefull s-text7 p-l-15 p-r-15 form-control" placeholder="Type Here" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <label class="control-label" asp-for="State"></label>
                <div class="form-group bo4 size15 m-b-20 border">
                    <input asp-for="State" class="sizefull s-text7 p-l-15 p-r-15 form-control" placeholder="Type Here" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <label class="control-label" asp-for="Country"></label>
                <div class="form-group bo4 size15 m-b-20 border">
                    <input asp-for="Country" class="sizefull s-text7 p-l-15 p-r-15 form-control" placeholder="Type Here" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <label class="control-label" asp-for="ZipCode"></label>
                <div class="form-group bo4 size15 m-b-20 border">
                    <input asp-for="ZipCode" class="sizefull s-text7 p-l-15 p-r-15 form-control" type="text" placeholder="Type Here" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
                <button type="submit" class="form-submit flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" style="width: 180px;">Place Order</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>


    <br /><br />

    <style>
        span {
            font-size: 12px;
        }
    </style>*@

@model CoffeeHouse.Data.Dto.OrderDto

@{
    ViewData["Title"] = "Thanh toán";
}

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url(/CoffeeShop/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">THANH TOÁN</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-action="Index">TRANG CHỦ</a></span> <span>THANH TOÁN</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8 ftco-animate">
                <form asp-controller="Order" asp-action="Checkout" method="post" class="billing-form ftco-bg-dark p-3 p-md-5">
                    <h3 class="mb-4 billing-heading">ĐỊA CHỈ GIAO HÀNG/THANH TOÁN</h3>
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FirstName">Họ</label>
                                <input asp-for="FirstName" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="LastName">Tên</label>
                                <input asp-for="LastName" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Country">Quốc gia</label>
                                <input asp-for="Country" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="State">Tiểu bang / Quận</label>
                                <input asp-for="State" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="AddressLine">Địa chỉ</label>
                                <input asp-for="AddressLine" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="AddressLine" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="City">Thị trấn / Thành phố</label>
                                <input asp-for="City" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ZipCode">Postcode / ZIP</label>
                                <input asp-for="ZipCode" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PhoneNumber">Số điện thọai</label>
                                <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Email">Địa chỉ email</label>
                                <input asp-for="Email" type="text" class="form-control" placeholder="">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <input class="btn btn-primary py-3 px-5" type="submit" value="Đặt hàng" />
                </form><!-- END -->

                @*<div class="row mt-5 pt-3 d-flex">
                    <div class="col-md-6 d-flex">
                        <div class="cart-detail cart-total ftco-bg-dark p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Tổng Giỏ Hàng</h3>
                            <p class="d-flex">
                                <span>Tổng phụ</span>
                                <span>$8.00</span>
                            </p>
                            <p class="d-flex">
                                <span>Vận chuyển</span>
                                <span>FreeShip</span>
                            </p>
                            <p class="d-flex">
                                <span>Giảm giá</span>
                                <span>$2.00</span>
                            </p>
                            <hr>
                            <p class="d-flex total-price">
                                <span>Tổng</span>
                                <span>$6.00</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cart-detail ftco-bg-dark p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Phương Thức Thanh Toán</h3>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" class="mr-2"> Chuyển tiền trực tiếp qua ngân hàng</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" class="mr-2"> Trả tiền mặt khi nhận được hàng</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="" class="mr-2"> Tôi đã đọc và chấp nhận các điều khoản và điều kiện</label>
                                    </div>
                                </div>
                            </div>
                            <p><a href="#" class="btn btn-primary py-3 px-4">Đặt hàng</a></p>
                        </div>
                    </div>
                </div>*@
            </div>
            <!-- .col-md-8 -->
            <div class="col-xl-2"></div>
        </div>
    </div>
</section> <!-- .section -->
